body{
    padding: 0;
    margin: 0;
    
}
body {
    background: url(75ae05112787439\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header {
    display: flex;
    justify-content: space-around;
}
ul {
    display: flex;
    list-style:
        none;
}
ul li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 10px;
}
ul select {
    width: 50px;
    height: 25px;
    margin-top: 30px;
    background: none;
    color: white;
}
header img {
    width: 70px;
    height: 65px;
    margin: 10px;
}
.info h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    margin-left: 135px;
    margin-top: 200px;
}
.info button {
    margin-left: 135px;
    width: 250px;
    height: 62px;
    border-radius: 8px;
    background: var(--dark-blue, #114E86);
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-top: 30px;
    border: none;
}

/* text */


.text{
    margin: 200px auto 0;
    background-color: white ;
    /* border: 1px solid red; */
}

.text h1{
    text-align: center;
}

.text p{
    width: 70%;
    text-align: center;
    display: block;
    margin:  auto;
}

/* main in */


.main{
    margin-top: 20px;
    width: 970px;
    margin: auto; 
    /* border: 1px solid red;   */
}
.main_img{
    width: 970px;
    margin: auto;
    display: flex;
}
.main h2{
    margin-left: 400px;
    margin-top: 50px;
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
}
.main_img_text{
    border-radius: 8px;
    border: 1px solid #000;
    width: 320px;
    height: 455px;
    margin: 10px;
}
.main_img_text img{
    width: 180px;
    height: 158px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 40px;
}
.main_img_text p{
    margin-top: 30px;
    margin-left: 40px;
}
.main_img_text p b{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 900;
    margin-top: 50px
}
.main_img_text .p{
    color: var(--dark-blue, #114E86);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    margin-left: 200px;
    margin-top: 50px;
}
.main_img_text:hover{
    background: var(--dark-blue, #114E86);
    color: white;
    transition: .5s;
    scale: 1.05;
}

.main_img_text:hover p{
    color: white;
}
.main_img_text:hover p b{
    color: white;
}

/* asilbek footer */

footer{
    width: 1349px;
    height: 500px;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    margin-top: 90px;
}
.footer_text{
    margin-top: 50px;
    margin-left: 200px;
}
footer .footer_text h3{
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700; 
}
.footer_text p{
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
}
.footer_text p img{
    width: 21px;
    height: 18px;
}
.footer_text_2{
    margin-top: 50px;
    margin-left: 120px;
}
.footer_text_2 h3{
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
}
.footer_text_2 p{
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
}
.footer_text_3{
    margin-top: 50px;
    margin-left: 120px;
}
.footer_text_3 h3{
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
}
.footer_text_3 input{
    display: block;
    width: 270px;
    height: 40px;
    border-radius: 8px;
    background: rgba(196, 196, 196, 0.25);
}
.footer_text_3 button{
    width: 270px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
}